@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
    --color--neutral--100: hsl(0, 0%, 100%);
    --color--neutral--150: hsl(0, 0%, 96%);
    --black: hsl(225, 58%, 10%);
    --gray: hsl(221, 12%, 35%);
    --red: hsl(0, 90%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: var(--black);
    text-decoration: none;
}

body {
    background-color: var(--color--neutral--100);
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin-top: 58px;
}

nav {
    display: flex;
    align-items: center;
}

.wrapper__header-logo {
    display: flex;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.wrapper__header-logo a {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}

.wrapper__header-logo span {
    font-size: 20px;
    font-weight: 700;
}

nav a {
    color: var(--gray);
}

.wrapper__header-menu {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    margin-left: 140px;
}

.wrapper__header-sign {
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
    gap: 30px;
    max-width: 264px;
    width: 100%;
    font-weight: 500;
    align-items: center;
}

.header__btn-sign-up {
    display: block;
    border-radius: 50px;
    border: 1px solid var(--red);
    padding: 13px 45px;
    color: var(--red);
    transition: all 0.3s ease-in;
}

.header__btn-sign-up:hover {
    background-color: var(--red);
    color: var(--color--neutral--100);
}

p {
    line-height: 30px;
    color: var(--gray);
}

.wrapper__header-content {
    display: flex;
    align-items: center;
    margin-top: 120px;
    gap: 40px;
}

.wrapper__header-text {
    display: flex;
    flex-direction: column;
    max-width: 556px;
    width: 100%;
    gap: 20px;
}

h1 {
    font-size: 50px;
    line-height: 70px;
}

.wrapper__header-text span {
    font-weight: 500;
}

.wrapper__header-text p {
    line-height: 30px;
    color: var(--gray);
}

.wrapper__header-text p span {
    line-height: 30px;
    color: var(--gray);
    font-weight: 500;
}

.header__text-btn {
    display: block;
    background-color: var(--red);
    color: var(--color--neutral--100);
    font-weight: 700;
    border-radius: 10px;
    padding: 18px 78px;
    max-width: 252px;
    width: 100%;
    margin-top: 50px;
    transition: all 0.3s ease-in;
    border: 1px solid var(--red);
    position: relative;
}

.header__text-btn::before {
    content: "";
    background-color: rgba(245, 56, 56, 0.35);
    filter: blur(20px);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -20px;
    z-index: -1;
}

.header__text-btn:hover {
    background-color: var(--color--neutral--100);
    border: 1px solid var(--red);
    color: var(--red);
}

.wrapper__header-img {
    margin-right: -250px;
}

.wrapper__header-info {
    margin-top: 100px;
    display: block;
    max-width: 1140px;
    max-height: 200px;
    position: relative;
    background-color: var(--color--neutral--100);
    border-radius: 10px;
}

.wrapper__header-info::before {
    content: "";
    background-color: #0d1025;
    opacity: 0.03;
    filter: blur(40px);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -40px;
    z-index: -1;
}

.wrapper__header__info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 91px;
}

.header__text-bold {
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
}

.wrapper__header__info__item-text {
    padding-left: 36px;
}

.wrapper__header__info-vertical {
    margin-left: 134px;
    margin-right: 100px;
}

.features {
    padding-top: 96px;
    padding-bottom: 130px;
}

.wrapper__features {
    display: flex;
}

.wrapper__features-text {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    padding-top: 54px;
    gap: 20px;
    max-width: 430px;
    width: 100%;
}

.h2__width-fixed {
    width: 384px;
    line-height: 50px;
    font-size: 35px;
    font-weight: 500;
}

.wrapper__features__text-items ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray);
    font-size: 14px;
}

.wrapper__features__text-items ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul {
    list-style-type: none;
}

.choose-your-plan {
    padding-top: 80px;
    padding-bottom: 150px;
}

.wrapper__choose__your__plan-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 556px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.wrapper__choose__your__plan-elements {
    display: flex;
    justify-content: space-between;
}

.wrapper__choose__your__plan__elements-item {
    border: 2px solid #dddddd;
    border-radius: 10px;
    max-width: 330px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.wrapper__choose__your__plan__elements-item h3 {
    text-align: center;
}

.wrapper__choose__your__plan__elements-item:hover {
    border: 2px solid var(--red);
}

.wrapper__choose__your__plan__elements-item img {
    padding: 80px 92px 30px 92px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}

.wrapper__choose__your__plan__elements__item-check {
    max-width: 192px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.wrapper__choose__your__plan__elements__item-check ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.wrapper__choose__your__plan__elements__item-check ul li {
    display: flex;
    align-items: center;
    line-height: 30px;
    gap: 26px;
    color: var(--gray);
    font-size: 14px;
}

.wrapper__choose__your__plan__elements__item-check p {
    font-size: 25px;
}

.wrapper__choose__your__plan__elements__item-check span {
    font-weight: 500;
    font-size: 25px;
}

.wrapper__choose__your__plan__item__check-btn {
    display: block;
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 13px 64px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--red);
    font-weight: 700;
    transition: all 0.3s ease-in;
}

.wrapper__choose__your__plan__item__check-btn:hover {
    background-color: var(--red);
    color: var(--color--neutral--100);
}

.free {
    padding-bottom: 130px;
}

.standard {
    padding-bottom: 90px;
}

.premium {
    padding-bottom: 50px;
}

.wrapper__global-network-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 556px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper__global-network-text span {
    font-weight: 500;
}

.wrapper__global-network img {
    padding-top: 155px;
    padding-bottom: 6px;
}

.wrapper__global-network-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 50px;
}

.wrapper__global-network-images img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.container-trusted {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.wrapper__trusted {
    padding-bottom: 160px;
}

.wrapper__trusted-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 556px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.wrapper__trusted-text h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.wrapper__trusted-reviews {
    display: flex;
    justify-content: space-between;
}

.wrapper__trusted__reviews-item {
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 30px 30px 20px 30px;
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.wrapper__trusted__reviews-item:hover {
    border: 2px solid var(--red);
}

.wrapper__trusted__reviews__item-head {
    display: flex;
    justify-content: space-between;
}

.wrapper__trusted__reviews__item__head-content {
    display: flex;
}

.review-img {
    padding-right: 20px;
}

.wrapper__trusted__reviews__item__head-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-name {
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
    line-height: normal;
}

.review-city {
    font-size: 14px;
    line-height: normal;
}

.wrapper__trusted__reviews__item__head-mark {
    display: flex;
    align-items: center;
    gap: 11px;
}

.review-mark {
    color: var(--black);
}

.wrapper__trusted__reviews__item-main {
    max-width: 340px;
    margin-top: 20px;
}

.review-main {
    color: var(--black);
}

.wrapper__trusted__reviews-btn-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 96px;
    align-items: center;
}

.btn-slider__pagination {
    display: flex;
    gap: 15px;
}

.btn-slider__pagination-item {
    background-color: #dde0e4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.btn-slider__pagination-item:hover {
    background-color: var(--red);
}

.btn-slider__buttons {
    display: flex;
    gap: 20px;
}

.btn-slider__button {
    border: 2px solid #f53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.btn-slider__button:hover {
    background-color: var(--red);
}

.btn-slider__button:hover svg path {
    fill: var(--color--neutral--100);
}

.banner {
    margin-top: -325px;
    margin-bottom: 66px;
}

.wrapper__banner {
    padding: 58px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--neutral--100);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper__banner-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-btn {
    display: block;
    padding: 18px 66px;
    color: var(--color--neutral--100);
    background-color: var(--red);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.3s ease-in;
    border: 1px solid var(--red);
    box-shadow: 0px 25px 25px rgba(245, 56, 56, 0.2);
}

.banner-btn:hover {
    background-color: #ffffff;
    border: 1px solid var(--red);
    color: var(--red);
}

footer {
    padding-top: 186px;
    background-color: #f8f8f8;
}

.wrapper__footer {
    display: flex;
    padding-bottom: 100px;
}

.wrapper__footer-lasles {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper__footer__lasles-logo {
    display: flex;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.wrapper__footer__lasles-logo span {
    font-weight: 700;
}

.wrapper__footer__lasles-logo p {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}
.wrapper__footer__lasles-text {
    max-width: 340px;
    width: 100%;
}

.wrapper__footer__lasles-text span {
    color: var(--gray);
    font-weight: 500;
}

.wrapper__footer__lasles-socials {
    display: flex;
    gap: 20px;
}

.footer__lasles-socials-item {
    display: flex;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: var(--color--neutral--100);
    align-items: center;
    justify-content: center;
}

.footer__lasles-socials-item svg {
    width: 16px;
    height: 16px;
}

.footer__lasles-socials-item svg path {
    fill: var(--red);
}

.copyright {
    color: #afb5c0;
}

.copyright span {
    color: #afb5c0;
    font-weight: 500;
}

.wrapper__footer-categories {
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
}

.wrapper__footer__categories-item {
    display: flex;
    flex-direction: column;
}

.product-head {
    text-align: left;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-list a {
    line-height: 30px;
}
