* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}